In [1]:
import os
import numpy as np
import pandas as pd
from glob import glob

In [4]:
train_dataset = "Dataset073_GE_LE"
model_dir = f"models/{train_dataset}"

cv_avg_metrics = pd.DataFrame()
for fold in range(5):
    results_csv = f"{model_dir}/fold_{fold}/test/results.csv"
    print(results_csv)
    df = pd.read_csv(results_csv)
    assert len(df) == 4, "len(df) for %s != 4" % results_csv
    print(df)
    cv_avg_metrics = pd.concat([cv_avg_metrics, df])

# Replace inf with NaN so they're both skipped in mean calculation
cv_avg_metrics = cv_avg_metrics.replace([np.inf, -np.inf], np.nan)

cv_avg_metrics = cv_avg_metrics.groupby('test_dataset_name').mean().reset_index()
cv_avg_metrics = cv_avg_metrics.round(2)
cv_avg_metrics = cv_avg_metrics[['test_dataset_name', 'dice', 'masd', 'hd95', 'dice_std', 'masd_std', 'hd95_std']]
cv_avg_metrics = cv_avg_metrics.sort_values(by='dice', ascending=False)
cv_avg_metrics

models/Dataset073_GE_LE/fold_0/test/results.csv
                test_dataset_name   dice  dice_std   hd95  hd95_std  masd  \
0                Dataset073_GE_LE  94.78      1.61   2.68      6.57  0.69
1              Dataset072_GE_LQP9  91.48      5.71  24.14     26.80  4.11
2          Dataset070_Clarius_L15  73.16     21.93  33.21     27.70  9.26
3  Dataset078_KneeUS_OtherDevices  66.46     15.80  36.81     32.41  3.87

   masd_std
0      0.42
1      4.58
2      9.72
3      4.12
models/Dataset073_GE_LE/fold_1/test/results.csv
                test_dataset_name   dice  dice_std   hd95  hd95_std  masd  \
0                Dataset073_GE_LE  94.73      1.95   2.11      2.28  0.65
1              Dataset072_GE_LQP9  92.82      4.88  12.55     27.98  2.10
2          Dataset070_Clarius_L15  80.30     18.61  23.57     26.71  4.99
3  Dataset078_KneeUS_OtherDevices  71.10     17.16  39.40     30.42  5.95

   masd_std
0      0.22
1      3.12
2      6.41
3      6.01
models/Dataset073_GE_LE/fold_2/test/results.csv
                test_dataset_name   dice  dice_std   hd95  hd95_std  masd  \
0                Dataset073_GE_LE  94.58      1.53   2.16      1.69  0.67
1              Dataset072_GE_LQP9  92.60      5.13  18.27     30.84  3.13
2          Dataset070_Clarius_L15  78.07     18.54  34.32     31.01  8.24
3  Dataset078_KneeUS_OtherDevices  72.93     12.20  35.02     30.38  4.96

   masd_std
0      0.25
1      4.41
2      8.77
3      5.09
models/Dataset073_GE_LE/fold_3/test/results.csv
                test_dataset_name   dice  dice_std   hd95  hd95_std  masd  \
0                Dataset073_GE_LE  94.73      2.21   2.34      1.75  0.71
1              Dataset072_GE_LQP9  91.29      6.19  40.80     57.06  6.00
2          Dataset070_Clarius_L15  72.58     24.50  32.87     29.38  8.37
3  Dataset078_KneeUS_OtherDevices  72.59     17.66  37.46     44.79  3.00

   masd_std
0      0.39
1      7.15
2      9.34
3      3.43
models/Dataset073_GE_LE/fold_4/test/results.csv
                test_dataset_name   dice  dice_std   hd95  hd95_std   masd  \
0                Dataset073_GE_LE  94.87      1.60   1.87      0.91   0.63
1              Dataset072_GE_LQP9  91.79      6.18  28.21     48.07   4.60
2          Dataset070_Clarius_L15  68.63     24.51  42.96     30.55  11.66
3  Dataset078_KneeUS_OtherDevices  74.03     17.27  23.59     18.94   3.59

   masd_std
0      0.23
1      7.23
2     11.64
3      3.19

,test_dataset_name,dice,masd,hd95,dice_std,masd_std,hd95_std
2,Dataset073_GE_LE,94.74,0.67,2.23,1.78,0.30,2.64
1,Dataset072_GE_LQP9,92.00,3.99,24.79,5.62,5.30,38.15
0,Dataset070_Clarius_L15,74.55,8.50,33.39,21.62,9.18,29.07
3,Dataset078_KneeUS_OtherDevices,71.42,4.27,34.46,16.02,4.37,31.39